VITE_PROXY_BLOG_IMAGES=<YOUR_BLOG_IMAGE_PROXY>
VITE_PROXY_MUSIC_API=<YOUR_MUSIC_PROXY>
VITE_WS_URL=<YOUR_WS_URL>
VITE_ADMIN_URL=<YOUR_ADMIN_URL>
VITE_SITE_URL=<YOUR_SITE_URL>
VITE_CONTACT_QQ=
VITE_LINK_APPLY_TEXT=欢迎提交友链申请
VITE_DEFAULT_SITE_AVATAR=
VITE_COLA_UID=
VITE_COLA_APP_KEY=
