APP_PORT=<YOUR_BACKEND_PORT>
MYSQL_HOST=<YOUR_DB_HOST>
MYSQL_PORT=<YOUR_DB_PORT>
MYSQL_USER=<YOUR_DB_USER>
MYSQL_PASSWORD=<YOUR_DB_PASSWORD>
MYSQL_DB=<YOUR_DB_NAME>
ADMIN_PASSWORD=<YOUR_ADMIN_PASSWORD>
BASEURL=<YOUR_BASE_URL>
JWT_SECRET=<YOUR_JWT_SECRET>

# Optional
DEFAULT_USER_AVATAR=<YOUR_DEFAULT_USER_AVATAR_URL>
ARTICLE_COVER_OLD_PREFIX=<YOUR_OLD_COVER_PREFIX>
ARTICLE_COVER_NEW_PREFIX=<YOUR_NEW_COVER_PREFIX>
